    
.summary-list table {
    width: 100%;
}

.summary-list thead th {
    font-size:11px;
    color: rgb(130,130,132);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.summary-list thead th span {
    font-size: 18px;
}


.summary-list tbody tr {
    height: 40px;
}

.summary-list tbody td {
    font-weight: bold;
    font-size:13px;
    text-align: center;
}

.summary-list tbody tr:nth-child(even) td {
    background-color: rgb(39,43,56);
    border-radius: 10px;
}

.summary-list tbody td span {
    font-size: 10px;
    color: rgb(130,130,132);
    margin-left: 2px;
}

