aside {
  width: 250px;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

aside .box {
  overflow: hidden;
}

aside header {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside header h1 {
  font-size: 18px;
}

aside header b {
  color: #606fe4;
}

aside nav li {
  list-style: none;
  padding: 15px;
}

aside nav .selected li {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
}

aside nav a {
  text-decoration: none;
  color: black;
}

aside nav li:hover {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
}
