aside {
    width: 250px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

aside header {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside li {
    list-style: none;
    padding: 15px;
}

aside li.selected {
    background-color: rgb(84, 82, 209);
}
