* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#root {
    margin: 0 auto;
    display: flex;
}

.App {
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    gap: 70px;
}

section {
    width: 500px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}